body{
    background:rgb(10, 10, 10);
    color:white;
}

#title{
    text-align:center;
}

#editor{
    width:100%;
    height:300px;
    border:2px solid rgb(98, 98, 105);
    background-color:rgb(188, 188, 197);
    padding:20px;
    border-radius:10px;
    resize:none;  
}

#preview{
    width:100%;
    border:2px solid rgb(98, 98, 105);
    background-color:rgb(40, 40, 43);
    padding:20px;
    border-radius:10px;   
}

.bloc{
    margin:auto;
    width:70%;
}

img{
    width:50%;
}